@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  padding: 0;
  margin: 0;
  height: 100%;
  max-width: 100%;
}
body * {
  @apply transition-colors;
  transition-duration: 70ms;
  transform: translateZ(0);
  will-change: transform
}
